.commodities {
  .commodities_header {
    padding-top: 10rem;
    padding-bottom: 22rem;
    background-image: url("../../assets/background/commodities.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

    &__title {
      text-shadow: 4px -2px 8px rgba(0, 0, 0, 0.562);
      margin-top: 20px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card_img {
      max-width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .commodities_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
      margin: 70px 0 0 0;

      span {
        background: rgba(255, 255, 255, 0.13);
        border-radius: 16px;
        padding: 2px 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }

      .commodities_card {
        background-color: #e0bb4d;
        border: none;
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.808);
        width: 260px;
        height: 345px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;

        &__content {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: column;
          text-align: justify;
          font-weight: 500;
          color: #fff;
          font-size: 21px;
        }
      }
    }
  }

  .commodities__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
  }
}

@media only screen and (max-width: 670px) {
  .commodities {
    .commodities_header {
      padding-top: 7rem;
      padding-bottom: 7rem;
      background-image: url("../../assets/background/commodities.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
  }
}
