.commodities {
  .commodities_header {
    padding-top: 10rem;
    padding-bottom: 22rem;
    background-image: url("../../assets/background/pexels-mikhail-nilov-7731351.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

    &__title {
      text-shadow: 4px -2px 8px rgba(0, 0, 0, 0.562);
      margin-top: 20px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card_img {
      max-width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .commodities_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 180px;
      flex-wrap: wrap;
      margin: 70px 0 0 0;

      .commodities_card{
        background-color: #e0bb4d;
        border: none;
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.808);

        &__content {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: column;
          text-align: justify;
          font-size: 16px;
          font-weight: 500;
        }
      }

      
    }
  }

  .commodities__img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
  }
}
