.seguros {
  .seguros_header {
    padding-top: 10rem;
    padding-bottom: 22rem;
    background-image: url("../../assets/background/seguros.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

    &__title {
      text-shadow: 4px -2px 8px rgba(0, 0, 0, 0.562);
      margin-top: 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;

    span {
      font-family: "Inter", sans-serif;
      font-weight: 500;
    }

    .container_seguros {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px 50px;
      margin: 100px 50px;
    }

    .card_seguros {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      height: 200px;
      background: #e0bb4d;
      border-radius: 20px;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
      gap: 50px 50px;
      margin: 50px 50px;

      .dual_seguros {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .seguros {
    .seguros_header {
      padding-top: 7rem;
      padding-bottom: 7rem;
      background-image: url("../../assets/background/seguros.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
  }
}
