.home {
  .home-title {
    text-shadow: 4px -2px 8px rgba(0, 0, 0, 0.562);
    
  }

  &__header {
    position: relative;

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      text-align: center;
      color: white;
    }
  }
}
