.header {
  margin-top: 100px;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  .container_seguros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    padding: 100px 50px;
  }

  .card_seguros {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }

  .card_seguros:hover{
   height: 300px;
   width: 300px;
   padding: 0 0;
   gap: 0 0;
  }
}
