.aluguel {
  .aluguel_header {
    padding-top: 10rem;
    padding-bottom: 22rem;
    background-image: url("../../../assets/background/casa-aluguel.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;

    &__title {
      text-shadow: 4px -2px 8px rgba(0, 0, 0, 0.562);
      margin-top: 20px;
    }
  }

  .aluguel_content {
  }
}

.card_imoveis {
  width: 340px;
  height: 450px;

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
      width: 280px;
      max-height: 280px;
    }
  }
}
