.masthead {
  padding-top: 10rem;
  padding-bottom: 22rem;
  color: #fff;
  background-image: url("../../assets/background/pexels-ketut-subiyanto-4963437222.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
