.bg-body-tertiary {
  .link_navigate {
    text-decoration: none;
    color: black;

    a {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .meauto {
    display: flex;
    justify-content: space-between;

    gap: 20px;

    a {
      //  margin-top: 80px;
    }
  }

  .logo {
    width: 280px;
  }
}

@media only screen and (max-width: 992px) {
  .bg-body-tertiary {
    .meauto {
      a {
        margin-top:6px;
      }
    }
  }
}
