.bg-body-tertiary {
  .link_navigate {
    text-decoration: none;
    color: black;
  }

  .me-auto {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-left: 50px;
  }
  .logo {
    width: 280px;
  }
}
